[2014-08-28 17:24] haraldschilly opened #2 "mirror_manager.py doesn't use the new mirrors.yaml"
... easy to fix, just an oversight after converting it.

[2014-08-29 22:11] #2 closed, assigned to nobody

[2014-08-31 18:26] haraldschilly opened #5 "adopt scripts/update_components.py to the new setup"
- conf/packages.yaml is already up to date
- script needs to read the YAML file and write a template with macros into the template file

[2014-10-31 17:10] kcrisman opened #11 "Titles of localized websites should be in that language"
E.g. look at http://www.sagemath.org/fr/ , which inexplicably has "French" in several places.  (Auto-generated template?  Though it is also in https://github.com/sagemath/website/blob/master/src/fr/_fr.html and https://github.com/sagemath/website/blob/master/src/fr/index.html  .

Yet this is not universal - see https://github.com/sagemath/website/blob/master/src/fr/telecharger.html and maybe some

[2014-10-31 17:12] kcrisman opened #12 "back to sage main page should be localized"
Practically every `la/_la.html` or `la/index.html` has this in it.

[code]

?? Why not localized?  Probably just never happened.

[2014-11-06 17:28] haraldschilly opened #13 "add cautious "ECCN 5D002" note to legal.html"
the export control classification for Sage is most likely `ECCN 5D002`, due to similar reasons as stated [here](http://www.apache.org/licenses/exports/).

[2014-11-09 18:48] #13 closed, assigned to nobody

[2014-11-17 20:30] petergthatsme opened #14 "link to changlog for version 6.4 not working"
On the main site http://www.sagemath.org/index.html the link to the change log:
http://www.sagemath.org/mirror/src/changelogs/sage-6.4.txt
... does not work.

[2014-11-19 17:11] haraldschilly opened #15 "add "gitstats" pages"
add a script & suitable links, for daily autogenerated https://github.com/hoxu/gitstats pages for the entire project and the past month and year.

[2014-11-19 18:02] haraldschilly opened #16 "mirrors: remove online direct"
remove https://github.com/sagemath/website/blob/master/conf/mirrors.yaml#L173 online direct, they got acquired and closed.

[2014-11-20 16:28] kcrisman opened #17 "links to non-English tutorials broken."
e.g. http://www.sagemath.org/ru/html/tutorial/ (also the pdf)

[2014-12-04 17:38] #17 closed, assigned to nobody

[2014-12-04 17:40] kcrisman opened #20 "Move "usage" on download pages to top"
If you aren't used to "selecting mirrors", the way that all the download pages look is the worst possible advertisement to Sage.  Those sections should be moved to the top, and possibly the wording of

should be changed to something like

[2014-12-04 17:52] kcrisman opened #21 "Remove or clarify role of src/mirror/metalinks.html"
src/mirror/index.html seems to have a lot of what is there, and although links like http://jambu.spms.ntu.edu.sg/sage/metalinks.html still work,  it's only linked from the *list* of mirrors (!) and isn't useful because everything is so old.

(Indeed, I didn't realize how much junk there is in this site.  All the src/inc/ shtml stuff is currently unused?)

[2014-12-22 13:15] #11 closed, assigned to nobody

[2015-01-06 12:08] haraldschilly opened #27 "more in ack"
Quote from Anne:

    could you add the NSF OCI-1147247 entitled
    “Collaborative Research: SI2-SSE: Sage- combinat: Developing and Sharing
    Open Source Software for Algebraic Combinatorics” 2012- 2015
    under NSF support at that link.

    Also, ICERM funded the following Sage Days
    http://icerm.brown.edu/sp-s13-w1/

[2015-01-06 12:51] #27 closed

[2015-02-16 11:13] haraldschilly opened #29 "update benchmark"
the tour-benchmark site is neat, but outdated.

[here are updated numbers](https://groups.google.com/d/msg/sage-support/yAgl7JLgx-s/9QSNDguCHoAJ)

[2015-02-18 16:35] haraldschilly opened #30 "rename Sage -> SageMath"
There is a variable for the name in https://github.com/sagemath/website/blob/master/conf/config.yaml

Use it everywhere possible and update it.

[2015-02-19 20:28] haraldschilly commented on #30
commit 2d76c11f966b5a4a4121c is the first one changing a lot of plain "Sage" strings to the `{{ sage }}` template variable and setting the sage variable to "SageMath". works fine, maybe there are still subtle errors.

[2015-03-21 18:18] haraldschilly opened #33 "remove sagenb.org"
sagenb.org will go away, when should we get rid of it on the website?

[2015-04-28 14:36] haraldschilly opened #34 "developer map: x/y coordinates swaped?"
maybe there is a processing problem with the geoip cache db in `website/scripts/geocode.py` or the javascript rendering.

[2015-04-28 14:43] haraldschilly commented on #34
Indeed, looks like
https://github.com/sagemath/website/blob/master/scripts/geocode.py#L217
should be flipped. That's a bit crazy, because I thought I [fixed it here](https://github.com/sagemath/website/commit/79ea0e79f12bb94736edece43b09c10e041d826e#diff-de1118c624c2fb2ddcb482b61ddeb340). :tired_face:

[2015-04-28 14:50] haraldschilly commented on #34
9240666d1148c31fd3 seems to fix this, thx @robertwb

[2015-04-28 14:50] #34 closed

[2015-05-13 20:39] nathanncohen commented on #30
Isn't this solved?

[2015-05-13 20:41] haraldschilly commented on #30
The commit is rather huge & boring one, but is there something I did miss? I kept it open in case something comes up. But so far, it looks good :smiley:

[2015-05-20 01:29] fwchapman opened #37 "Mistakes in Sage Calculus Tutorial on Differentiability"
*[Hello, everyone! I originally sent this as an email to Elliott Brossard, but since he's no longer maintaining content on the website, he suggested that I post my feedback here. -- Fred]*

Hi Elliott,

Thanks for all your time and effort on the Sage Calculus Tutorial. The plots and the mathematical typesetting are beautifully done!

I'm writing to report some mathematical mistakes in the tricky p

[2015-05-20 01:48] kcrisman commented on #37
Hi!  Thanks for your feedback.  Yeah, that entire collection of resources is not in such great shape, and (to be frank) never was.  I believe it was a summer project by an undergraduate quite a few years ago.  I'm not even exactly sure when it was incorporated into the website...

So far it wasn't maybe worth the effort to do anything with it, but if people are actually finding and/or using it tha

[2015-05-20 02:19] fwchapman commented on #37
Hi Karl,

Thanks for your speedy reply! The online math articles I've seen elsewhere vary considerably in quality. What strikes me as unique about the Sage calculus tutorial is that it incorporates a computer algebra system into the presentation, which encourages students to experiment on their own. I think the approach has genuine value. The two mistakes I found pertain to some finer technical po

[2015-05-20 02:49] fwchapman commented on #37
P.S. In general, it's not easy to produce online math articles of high quality. I worked for Sapling Learning (a division of Macmillan New Ventures) as an author/reviewer of e-books on high school math, and I'm currently the math copy editor for the Khan Academy. I can tell you from my own experience that the process usually involves both peer review and copy editing.

I don't know whether the Sag

[2015-05-21 05:20] booblebobble opened #38 "Suggestion: Mention VBoxHeadless as an option for running the Windows virtual machine somewhere"
Last night I was poking around the VirtualBox docs and discovered you can start and stop a VM from the windows command prompt with no visual output at all.  Since I only use the firefox interface and very rarely have a reason to mess around in the VM itself once I've set everything up initially this seems less clunky than having the machine actually running in a window.  It feels like this method

[2015-05-24 17:00] haraldschilly opened #39 "broken links on download-packages.html"
get rid of the intro text on `download-packages.html ` ... it's all on the mirrors now.

[2015-05-24 17:33] #39 closed

[2015-05-25 18:25] nathanncohen commented on #39
I just noticed that. Thanks for this change ! ;-)

[2015-06-02 12:29] haraldschilly commented on #14
also fix link to changelog at `/development.html` ... and my general plan is to copy over all changelogs into a dedicated /changelogs subdirectory. The only missing piece is an automatically generated index file for them.

[2015-06-06 18:34] haraldschilly opened #50 "add NFS grant OCI-1147247"
add

with a link to http://www.nsf.gov/awardsearch/showAward?AWD_ID=1147247

to development-ack.html

[2015-06-06 19:55] haraldschilly opened #51 "add link to jobs page from the menu"
add a menu link pointing to http://wiki.sagemath.org/jobs

[2015-06-07 17:53] haraldschilly opened #52 "redirect /report-issue to where users should report issues"
should it be ask.sagemath?

[2015-06-07 18:03] nathanncohen commented on #52
I think that it should. Can I make a pull request?

[2015-06-07 18:41] haraldschilly commented on #52
Uhm, I think we should think this through first. When you look into the header, there is a "report bugs" link. It points to the wiki. The wiki points back to this report-issue link. Reminds me of https://youtu.be/JtEkUmYecnk

[2015-06-07 19:23] nathanncohen commented on #52
We should have a page in our developer's manual that explains all
this. Then, we should have a link on the websites that redirects
there.

This is for the 'report a bug' link. It should probably be "write to
sage-devel" (asking newcomers to request a trac account+create a
ticket directly is too tough for a first time).

For the "get help" link, it should probably be "asksage" or sage-support indee

[2015-06-08 12:50] kcrisman commented on #52
sage-devel" (asking newcomers to request a trac account+create a
ticket directly is too tough for a first time).

No no, I think that the point was that "report a bug" should be super easy.  That was the idea behind the spreadsheet.  So ask.sagemath is appropriate - but maybe we could change the name of the link to "have a question or possible bug?" or something.

Maybe this would also benefit fro

[2015-06-08 14:00] nathanncohen commented on #52
Right now it is super easy, the only trouble is that nobody goes
through the reports, answers the guys nor solves the problem.

So this does not work, and for as long as we do nothing people waste
their time reporting things.

Any way out is good for me, the statu quo is not.

Nathann

[2015-06-08 15:47] kcrisman commented on #52
:+1:

[2015-06-08 17:46] nathanncohen commented on #52
What about doing this:
- Add a "Ask a question?" link in the "Help" menu toward asksage
- Add a "Report a Bug" link in the "Links" section toward sage-devel (here neither 'Help' nor 'Development' seems totally appropriate)
- Remove "Report a problem/About bugreporting/Bugtracker" from the Links menu. We can add a "Trac server" in the "developerment" menu to replace the "bugtracker" link.

Nathann

[2015-06-10 10:48] nathanncohen opened #54 "Broken doc links caused by recent URL change"
On this page [1] there is a link toward one of Sage's doc page [2]. This link is broken, and there is no redirection.

Nathann

[1] http://mathoverflow.net/questions/198320/combinatorial-designs-textbook-recommendation/198328#198328
[2] http://www.sagemath.org/doc/reference/combinat/sage/combinat/designs/__init__.html

[2015-06-10 11:59] #54 closed

[2015-06-10 12:00] haraldschilly commented on #54
cornercases everywhere :hushed:

[2015-06-10 12:01] nathanncohen commented on #54
Combinat cornercase everywhere.

http://doc.sagemath.org/html/en/developer/sage_manuals.html#adding-a-new-file

[2015-06-10 12:56] nathanncohen commented on #52
Guys?

[2015-06-10 18:30] haraldschilly commented on #52
just about the top header: what about removing "report bugs" and changing the wording of "Ask" to "Questions?" ... it's actually kind of stupid that it says "Ask" there, when you do not know what "ask" is.

so, this is also :+1: to the "Ask  a question?" in the help menu and the other change in the dev menu.

[2015-06-11 11:22] nathanncohen commented on #52
Okay, I'll be implementing all this in a second then.

[2015-06-11 11:42] nathanncohen commented on #52
Done at https://github.com/sagemath/website/pull/55

[2015-06-11 12:11] kcrisman opened #56 "Change uSageMath to something else or clarify it"
One thing I find confusing:

    <li><a href="{{ 'help-uSage.html'|prefix }}">u{{ sage }} User Groups</a></li>

Amazingly, the link etc. works, but the `u` in both instances is really confusing.  I guess maybe just "Sage User Groups" would be easier" - I assume the `u` was discussed on sage-devel at some point, maybe "uS[eS]agemath" like `uSeR`?  But for R it rolls off the tongue easier and makes

[2015-06-11 12:19] haraldschilly commented on #56
[SMUG: sage math user group](http://www.urbandictionary.com/define.php?term=smug&defid=206445)

:smile:

[2015-06-11 12:25] kcrisman commented on #56
(Actually, another person once started a SLUG - Sage learner user group.)

[2015-06-13 09:59] nathanncohen opened #58 "Broken links on the website"
I ran an URL checker on the website (https://github.com/sagemath/website/pull/57), and there are several broken links that I do not know how to fix. Here they are:
http://www.steinertriples.fr/ncohen/tmp/linkchecker-out.html

When those will be fixed, I will ran the checker again, this time checking external links.

Nathann

[2015-06-15 19:58] murrayE opened #59 "Link broken to complete documentation download"
The link on http://www.sagemath.org/help.html to download the entire standard documentation as a compressed file is broken. At present, its target http://doc.sagemath.org/#download just gives a table-of-contents page with links to all the separate documents.

[2015-06-15 20:37] haraldschilly commented on #59
Oh, that link shouldn't be there. Thank's for pointing that out.

Maintaining this download zipfile is a hassle and so far I don't see the point. When you have SageMath locally installed, you have the documentation. If you use it online, you can browse it. And if you are interested in downloading everything, you can grab the repository. Do you mind if I ask, in which category you belong and why yo

[2015-06-15 21:21] murrayE commented on #59
Sometimes I prefer to read the pdf documentation instead of the html pages included with Sage itself -- including when my local Sage is not running.

Guess I'll just have to get all the pdf's individually.

I do appreciate the hassle in maintaining the download zip file, though.

——
Murray Eisenberg                                murray@math.umass.edu
Mathematics & Statistics Dept.
Lederle Graduat

[2015-06-16 13:46] haraldschilly opened #60 "why does /documentation/ work?"
How is it possible that http://www.sagemath.org/documentation/ works? :open_mouth:
Seems like GitHub automagically redirects to sub-projects of an organization, in this case the gh-pages branch of sagemath/documenation ... This indeed opens up new possibilities. :black_joker:

[2015-06-22 14:40] haraldschilly commented on #59
Hi @murrayE ... as I wrote, you can actually download everything in a zip file. It's just not neatly separated by language and documentation type, but the whole package. Here is the [link to the archive](https://github.com/sagemath/documentation/archive/gh-pages.zip).

[2015-06-22 14:40] #59 closed

[2015-08-04 13:15] haraldschilly opened #62 "redirect /old-src"
301 redirect

     ./src/src-old.html

to

     http://old.files.sagemath.org/src-old/

[2015-08-05 19:24] slel opened #63 "Add changelog for Sage 6.2"
The missing changelog can be copy-pasted from
https://groups.google.com/d/topic/sage-announce/hrgTU51lxVw/discussion
and should become a text file at
http://www.sagemath.org/changelogs/sage-6.2.txt

[2015-09-02 15:11] kcrisman commented on #52
We can also still redirect report-issue rather than changing sagenb, see https://groups.google.com/forum/#!topic/sage-devel/Byyo2Vyi_0Q

[2015-09-02 15:12] haraldschilly commented on #52
yes, I can do this right away. where should it point to? ask.sagemath.org ?

[2015-09-02 15:26] kcrisman commented on #52
Oh, thanks!  I think that is as good a place as any.  Maybe while it is redirecting it can also say something about "search for your issue" first and not just the 'usual' message.

[2015-09-02 16:02] #52 closed

[2015-09-02 16:04] #62 closed

[2015-10-18 16:23] haraldschilly opened #66 "fix update_components.py script"

[2015-12-28 17:13] haraldschilly opened #67 "index.html file for src/changelogs"
the changelogs need a dedicated (small) index.html file for the CDN ... which doesn't do things like that automatically.

[2015-12-29 10:18] VinaySingh035 commented on #63
@slel  do  we have to paste the whole thing from that mail of google group you haver mentioned above.
from line 3 `Sage 6.2 was released on 6 May 2014. It is available in` to the end?
as I would like to do this thing.

[2015-12-29 11:10] slel commented on #63
Yes, that's correct. See examples at
http://www.sagemath.org/changelogs/sage-6.0.txt
http://www.sagemath.org/changelogs/sage-6.1.txt
etc. The only one missing is 6.2.

Related task: make it so that
http://www.sagemath.org/changelogs/
displays a list of links to these changelogs.

[2015-12-29 11:58] haraldschilly commented on #63
Oh yes, the only thing to take care of is, that the text file doesn't have the stupid additional linebreaks from the email formatting. Then, just send a pull request with the new file!

[2015-12-29 23:15] VinaySingh035 commented on #51
@haraldschilly  should I just add the link of `jobs` at the end of the ``` Links ```  subheading in the menu listing.

[2015-12-30 06:45] VinaySingh035 commented on #58
@nathanncohen  is this issue solved? If not I'll like to resolve this.
would need some help too.

[2015-12-30 06:53] VinaySingh035 commented on #50
@haraldschilly  where exactly would you like the link to be present on the above mentioned page.
And at last what should be the `text` referring that link?

[2015-12-30 06:56] VinaySingh035 commented on #63
@slel , @haraldschilly
Please review the PR and let me know if something could be improved?

[2015-12-30 08:27] slel commented on #58
There are seven items in @nathanncohen's list. I'll give details about them separately.

[2015-12-30 08:29] slel commented on #58
Item 1. On the page

    http://www.sagemath.org/library-marketing.html

line 191 contains

    <div class="narrow txt">More marketing resources are available <a href="./files/marketing/">here</a>.

This link points to

    http://www.sagemath.org/files/marketing/

which is "404 Not Found".

The internet archive has a copy of the old page, see:

    https://web.archive.org/web/*/http://www.sagemat

[2015-12-30 08:51] slel commented on #58
Item 2. On the page

    http://www.sagemath.org/library-marketing.html

line 268 contains

    <a href="./res/sage-sticker-1x1_inch.zip"><img src="./pix/sage-sticker-1x1_inch-small.png"/></a>

in which the link points to

    http://www.sagemath.org/res/sage-sticker-1x1_inch.zip

which is "404 Not Found".

Can we locate that file? If so, update the link. If not, replace the link by a link to the

[2015-12-30 08:58] slel commented on #58
Item 3. On the page

    http://www.sagemath.org/library-press.html

line 297 reads

    <td>&gt; 300 <a href="http://sagemath.org/src-old/">Releases</a></td>

in which the link points to

    http://sagemath.org/src-old/

which is now redirected to

    http://old.files.sagemath.org/src-old/

Although this works, it would be better to update the link, changing line 297 to

    <td>&gt; 300 <a hre

[2015-12-30 09:10] slel commented on #58
Item 4. On the page

    http://www.sagemath.org/mirrors.html

line 226 reads

      Check status of <a href="./mirror_manager.txt">Mirror Management</a> script.

where the link points to

    http://www.sagemath.org/mirror_manager.txt

which is "404 Not Found".

Searching for mirror_manager.txt on the github repo for the sagemath website:

    https://github.com/sagemath/website/search?q=mirror_m

[2015-12-30 09:14] slel commented on #58
Item 5. On the page

    http://www.sagemath.org/development.html

line 228 reads

        <li><a href="./changelogs/">Release Notes</a></li>

in which the link points to

    http://www.sagemath.org/changelogs/

which is "404 Not Found", but this is #67.

[2015-12-30 09:30] VinaySingh035 commented on #58
@slel
for Item1:
As it seems to me yes we have to create a new index.html for this. as the files are still present there only, but are not getting `listed/displayed`.

[2015-12-30 09:38] haraldschilly commented on #50
Well, make something up for the text? I don't know where it's best, chronologically next to the other grants sounds good.

[2015-12-30 09:58] haraldschilly commented on #67
to answer the question from the other ticket: we can either link to the github repository (easy) or automatically create our own index page. I would suggest to create our own. For that, we have to sort the filenames by the version number (with corner cases) and insert this list of names/links into a template page to render it.

[2015-12-30 10:45] haraldschilly commented on #67
http://www.sagemath.org/changelogs/ exists now and is sorted by version number

[2015-12-30 10:45] #67 closed

[2015-12-30 10:54] haraldschilly commented on #51
Well, find a good spot for it! The contact part should be at the end, i would rather put it next to the wiki link?

[2015-12-30 11:59] #63 closed

[2015-12-30 12:01] slel commented on #67
@haraldschilly: by "the question from the other ticket" you mean https://github.com/sagemath/website/issues/58#issuecomment-167962693, right?

[2015-12-30 12:24] haraldschilly commented on #67
yes

[2015-12-30 16:13] VinaySingh035 commented on #50
As I saw the other grants and I guess `Grant No. 1147247` will be the best as it is similar to the previous grants.
So, gonna do it like that only.

[2015-12-30 16:15] haraldschilly commented on #50
perfect :+1:

in case you already have a local repository, make sure to pull in my last changes from earlier today. also, don't hesitate too much in doing such changes. making small fixes (moving the entry a bit up or down, etc.) to an existing changeset is much easier, than having to talk about it too much.

[2015-12-30 16:16] VinaySingh035 commented on #50
oh yes Thanks for that. :+1:

[2015-12-30 20:15] VinaySingh035 commented on #58
currently I'm taking care of
 Item1:
listing all the files in the `marketing` directory via making a new `index.html`

Item2 and Item3: `replacing the link` as I didn't find anything related to Item2 in any other directories.

Item4:
needs some more details, as I found that there is a `mirror_manager.html` file but no `mirror_manager.txt` file anywhere I guess.
So, need some guidance as to what to

[2016-01-13 19:11] VinaySingh035 commented on #29
@haraldschilly
is this done?
or should I complete this?.  :)

[2016-01-13 19:26] haraldschilly commented on #29
oh wow, it's about a year old. I think the updated numbers are yet again outdated :stuck_out_tongue_winking_eye:

[2016-02-03 05:52] SilentFlame commented on #66
@haraldschilly  what exactly you mean by fixing this script?
please be a bit more descriptive.

[2016-02-03 09:50] haraldschilly commented on #66
well, I don't know what to say, the script `update_components.py` in the `scripts` directory doesn't work.

[2016-02-03 10:53] SilentFlame commented on #66
what exactly does this script is needed to do?

[2016-03-03 06:26] theaverageguy opened #77 "Language conversions don't work properly."
Not consistent with English page. All of them vary in number of tabs and text.

[2016-03-03 06:30] theaverageguy opened #78 "Upon choosing a language , "back to SageMath main page" remains in English."
![q](https://cloud.githubusercontent.com/assets/9817962/13486474/7840a1f0-e137-11e5-9237-e5e6e5aa2b49.PNG)

Should display in the particular language.

[2016-03-03 14:23] kcrisman commented on #77
I'm not sure what you mean by "language conversions"; these are definitely not the full page and weren't necessarily intended to be.  That said, it would be nice to enhance some of these, but it would probably (to be realistic) have to be on a case-by-case basis.

[2016-03-05 08:00] theaverageguy commented on #21
I would like to fix this.
Please guide me. Thanks.

[2016-03-05 12:17] haraldschilly commented on #21
that's the blue print for re-creating a master mirror. i.e. beside the website, this code is also used to manage the file server and the mirrors, etc.

[2016-03-05 12:17] #21 closed

[2016-03-05 12:20] theaverageguy commented on #60
Ummm this is not an issue I believe @haraldschilly ?

[2016-03-05 12:21] haraldschilly commented on #60
is it, or isn't it?

[2016-03-05 12:23] theaverageguy commented on #60
Updated the comment.

[2016-03-05 12:24] #60 closed

[2016-03-05 12:55] theaverageguy commented on #15
I would like to help in this.

[2016-03-05 13:00] theaverageguy commented on #50
@haraldschilly Can be closed. :)
Also, where are the issues reported for the sage repo? I can't find them. I would like to fix a good number of bugs before introducing myself as a GSoC participant.

[2016-03-05 13:26] haraldschilly commented on #50
well, I fear this is a misunderstanding. this here is just the website, that's rather unrelated and independent of the sagemath code ...

the sage repository is here: http://trac.sagemath.org/

to get started with sage dev, here is our intro guide: http://doc.sagemath.org/html/en/developer/index.html

[2016-03-05 13:27] haraldschilly commented on #50
but well, it's good to see that you try to work on small issues and that you are capable to do so

[2016-03-05 13:27] #50 closed

[2016-03-05 13:34] theaverageguy commented on #50
No it is no misunderstanding. I very well understand this is the website. I also know about the repo for Sage and I did set it up already. I was just asking for the issues list. I am working on it today. :)

[2016-03-06 21:32] haraldschilly commented on #15
Well, I am not sure how "fun" this is. A while ago there was a discussion on the mailing list, where we wanted to know how many active devs are there, and how much everyone is doing. This tool gives some summary statistics. The goal would be to write a script that does this, or uses this data, and produces some HTML that could be included in the website or so. Since the ticket is just lying around

[2016-03-08 15:33] haraldschilly opened #79 "add "Javier Honrubia González" to the map"
Name: Javier Honrubia González
Location: Vigo, Spain
University/work: -
Contributions: bugfix, documentation
sage-trac user: jhonrubia6

[2016-03-21 11:51] haraldschilly opened #80 "add first ODK paper"
[code]

and make sure it ends up in the preprint/unpublished category

[2016-03-22 10:12] haraldschilly opened #81 "add cremona's lmfdb paper"
this also mentions sagemath

http://link.springer.com/article/10.1007/s10208-016-9306-z?wt_mc=internal.event.1.SEM.ArticleAuthorOnlineFirst

[code]

[2016-05-06 18:22] haraldschilly opened #84 "fix or get rid of search page"
embedded google search has been turned off. instead, either point to

https://cse.google.com/cse/home?cx=017384562579735769466:s27byrlaffu

or fix the code using the custom search API (which might not be free any more)

[2016-05-24 13:00] keithbriggs opened #85 "http://www.sagemath.org/download-linux.html"
When I do

I get "Cannot add repository".

At https://launchpad.net/~aims/+archive/ubuntu/sagemath, they use the -E option which then makes it work.

[2016-05-24 15:53] haraldschilly commented on #85
thank's for spotting this, must have changed a while ago ...

[2016-05-24 16:00] #85 closed

[2016-06-08 09:43] haraldschilly commented on #81
fxied by https://github.com/sagemath/publications/commit/9ebd3468c7871b42c1ddc15f6cf8fa63581a9434

[2016-06-08 09:43] #81 closed

[2016-06-08 09:45] haraldschilly commented on #80
fixed by https://github.com/sagemath/publications/commit/20d7a6074827a310ad3a716bb5dc1af1d1f83429

[2016-06-08 09:45] #80 closed

[2016-06-10 02:36] paulmasson opened #86 "Sitemaps for documentation indexing"
@haraldschilly since you blacklisted /doc/ and /documentation/ more links are going directly to the desired subdomain doc.sagemath.org. I am noticing though that many items still relay on the manual redirection and are not getting updated in Google's index.

A friend and I wrote a JavaScript utility to create text-file listings of all files in a GitHub website filtered by extension with optional r

[2016-06-10 08:12] haraldschilly commented on #86
@paulmasson hello, well, I don't know how to force an update. I noticed in those "indexing"graphs, that only in the past two days the google robot started to scan more pages.

If you know how to do such a sitemap.xml, I'm happy to include it or submit it to webmaster tools. right now there is just a very rudimentary one, that's not really doing anything.

[2016-06-11 23:57] paulmasson commented on #86
@haraldschilly Google accepts several formats of sitemaps, and I think the best one for the current situation is a simple text file listing full URLs. I've created three files in the pull request:

1) All .html files in documentation/html - this is probably the most useful one
2) All .pdf files in documentation/pdf
3) All .html files in documentation/pdf - really simple index files, don't know if

[2016-06-12 14:00] haraldschilly commented on #86
ok, I'm merging it and testing what it does. I'm not sure though, if this will work, since the "website" is in www., but the sitemap points to the "documentation" hosted at doc.* . Maybe I should actually put that file online at doc.*

[2016-06-20 10:33] #84 closed

[2016-06-28 21:27] paulmasson commented on #86
@haraldschilly I know it's only been a couple weeks, but I'm still seeing this message on lots of files:

`A description for this result is not available because of this site's robots.txt`

That means Google still isn't looking where we want it to look for the file, but still thinks it's in a loction you blacklisted.

What percentages of the three site maps are indexed as shown in Webmaster Tools?

[2016-06-29 08:18] haraldschilly commented on #86
so, the only really "interesting" graph there is, that the number of crawled pages went up significantly, and that the size of the index grew. before that, only fewer pages of the documentation were indexed. I think it's better now, but still on the wrong domain.

www.sagemath.org: 6,823  Submitted,  2,729  Indexed // Total indexed	 4,588, Blocked by robots 4,686

doc.sagemath.org: 6,815  Submitte

[2016-07-06 13:58] haraldschilly opened #88 "sympy link is wrong"

[2016-07-28 11:04] #88 closed

[2016-07-28 11:04] haraldschilly opened #90 "devmap broken"
MarkerClusterer is missing, deprecated or updated?!

[2016-07-28 11:19] slel commented on #90
Possibly relevant:

- https://github.com/tomchentw/react-google-maps/issues/255
- http://stackoverflow.com/questions/37180731/what-is-the-alternate-source-path-for-google-markerclusterer-js-library
- http://stackoverflow.com/questions/37276198/cluster-image-on-google-map-v3-is-broken
- http://stackoverflow.com/questions/37179980/markercluster-v3-stopped-working-properly
- https://wp-types.com/foru

[2016-07-28 11:20] haraldschilly commented on #90
​well, I already fixed it, the root cause is that this googlecode page is
going away.

[2016-07-28 11:23] #90 closed

[2016-08-11 16:34] slel commented on #86
In addition to redirecting  sagemath.org/doc/ to doc.sagemath.org/html/en/
we should also make sure to redirect sagemath.org/git-developer-guide/
to doc.sagemath.org/html/en/developer/ --- is that taken care of?

[2016-08-11 16:37] haraldschilly commented on #86
No, and no idea how that guide ends up there. I think this should rather be an entry in the robots.txt?

[2016-08-22 16:24] slel commented on #86
Relevant discussions on sage-devel and sage-combinat devel:

sage-devel: doc.sagemath.org gone from google
https://groups.google.com/d/topic/sage-devel/cCGobP2AgwM/discussion

sage-devel: Multiple versions of SageMath's documentation online
https://groups.google.com/d/topic/sage-devel/NJSAQTjhIWE/discussion)

sage-combinat-devel: Multiple versions of SageMath's documentation online
https://groups.

[2016-09-05 14:29] PallHaraldsson opened #94 "Ubuntu 16.04 support?"
Implied by 14.04?

I'm not sure where to edit:

https://wiki.sagemath.org/SupportedPlatforms

and it's great that Ubuntu 8.04 is still supported, I just doubt that it is, ans still tested there..

I clicked on some links, for that one (and newer) and they are not convincing..

[2016-09-05 18:48] haraldschilly commented on #94
It's a wiki page, so you have to log in with your account, the one from trac I think, and click the "edit" link.

[2016-09-05 18:48] #94 closed

[2016-11-21 10:25] haraldschilly opened #97 "broken readme file"
In http://www.sagemath.org/download-source.html the README.txt link leads to a 404 page. The correct link might be https://git.sagemath.org/sage.git/tree/README.md
Same for the changelog link (but versions prior to 7.4 works).

[2016-11-21 13:59] kcrisman commented on #97
In http://www.sagemath.org/download-source.html the README.txt link leads

The changelog hasn't worked for a bit because @jdemeyer doesn't have access
to the machine the changelog scripts were on, if I recall correctly ... ?

[2016-11-21 14:00] haraldschilly commented on #97
yes, this is more like a reminder to take care of this once we have it

[2016-11-21 14:01] williamstein commented on #97
I emailed Jereon the relevant files two weeks ago...

On Mon, Nov 21, 2016 at 5:59 AM kcrisman <notifications@github.com> wrote:

--
Sent from my massive iPhone 6 plus.

[2016-11-21 16:06] kcrisman commented on #97
Good to know, I haven't been in the loop with that of course.  Maybe those
scripts could go up on GH in the sagemath organization somewhere as well.

[2016-11-29 11:33] louisgag opened #99 ""Spam was detected on your post, sorry for if this is a mistake""
Hi guys,
On the ask.sagemath website I am unable to leave any kind of comment to my post ( https://ask.sagemath.org/question/35596/export-notebook-output-to-html/ ) or to even post a new question. Can this be linked to this bug: "https://bugs.launchpad.net/openstack-community/+bug/1605929" ?
Cheers,
-Louis

[2016-11-29 12:19] haraldschilly commented on #99
hello, I don't know much about the "ask page" and reporting a problem here is likely not being heard.

/cc @nthiery  ... maybe you know how to deal with this or forward it appropriately.

[2016-11-29 13:13] louisgag commented on #99
Hi thanks for the forward, this is the only place I've found a way to contact someone.

[2016-11-29 14:29] kcrisman commented on #99
This isn't related to the Sage website.  Usually the only delay is that we do have some moderation in place for first-time posts, so someone has to green-light it.  In this case, I see you have made several comments, and there is nothing in the review queue, so I'm not sure why you'd be having problems.  I'll forward to our moderation crew - @haraldschilly this can be closed.

[2016-11-29 16:21] #99 closed

[2016-12-21 01:52] paulmasson opened #101 "Page with 886 old documentation links"
The page http://www.sagemath.org/doc_stats.html was automatically generated from data for 2013 and 2014. If it is still useful it should be regenerated, and if not simply deleted.

[2016-12-21 16:07] haraldschilly commented on #101
we should delete it

[2016-12-21 16:07] #101 closed

[2016-12-22 20:46] petergthatsme commented on #14
I would propose to just remove the changelog link from the front page altogether, given that it often (mostly always?) does not work.

[2017-01-05 21:58] Mister418 commented on #33
What? Yes, [sagenb.org](url) returns a 404, but is it still on the website? Or has this been fixed and forgotten to mark as resolved?

[2017-01-13 01:12] mrennekamp opened #104 "Remove sage.math.washington.edu"
Apparently, the site doesn't exist anymore, so reminding to remove instances of files hosted there.

[2017-01-13 01:14] mrennekamp commented on #77
@theaverageguy Humans translate the pages...? Remove if this is case, please

[2017-01-13 09:58] #77 closed

[2017-01-13 09:58] haraldschilly commented on #77
closing, confusing ticket

[2017-02-23 21:16] paulmasson opened #106 "Thebe "activate" button on website"
The button to make documentation examples live is meant to be active only in the context of Jupyter notebooks, but appears on website pages. Clicking it then clicking "run" after an example leads to an error message and makes the website appear broken.

Is this something that should be fixed here or in SageMath? Was the integration of Thebe on https://trac.sagemath.org/ticket/20690 done correctly?

[2017-02-24 14:01] haraldschilly commented on #106
this repository is for the sagemath website, not the documentation. closing this, dup of https://github.com/sagemath/documentation/issues/12

and regarding "correct integration". the test for the jupyter context is `if (window.location.protocol.startsWith('http')) {` which is definitely not enough.

[2017-02-24 14:01] #106 closed

[2017-03-23 19:11] paulmasson opened #107 "Change logs missing"
The list at http://www.sagemath.org/changelogs/ stops at Sage 7.3.

Was Jereon's [script](https://groups.google.com/forum/m/#!topic/sage-release/Qx_pr2e-CuY) ever recovered?

[2017-03-23 20:51] haraldschilly commented on #107
well, I never got an about about that ...

I also don't know what the script does. maybe we should write a new one? the drawback is that I think it did some pretty good deduplication of identities and git-commit names.

[2017-03-23 22:46] kcrisman commented on #107
Yeah, I really wish we knew what happened to that script.

[2017-03-24 00:03] williamstein commented on #107
I found the script and gave it to him months ago...

William

On Thu, Mar 23, 2017 at 3:46 PM, kcrisman <notifications@github.com> wrote:

--
William (http://wstein.org)

[2017-03-24 08:35] jdemeyer commented on #107
Well, not completely. There is also some front-end script missing which call the scripts that you sent me.

[2017-03-24 12:37] williamstein commented on #107
I gave you access to what was your home directory on the *.math.washington.edu cluster.  That's it.

[2017-03-24 19:58] paulmasson commented on #107
@jdemeyer could you please add whatever you have to this repository? It would give at least give us a starting point if it doesn't function as is.

[2017-03-25 08:55] jdemeyer commented on #107
Not quite. You sent me a tarball of some part of my home directory. Most of what I needed was there, but not everything.

[2017-04-25 15:37] kcrisman opened #109 "Add Lights out article from Math Mag"
This article cites Sage
[code]

[2017-05-11 12:57] kcrisman opened #110 "Add info about PPA being "stripped down""
See https://ask.sagemath.org/question/37561/where-is-the-source-code/ where someone was looking for source in the PPA.  This should be an easy change.

[2017-06-22 20:47] kcrisman opened #111 "dead link"
there is a reference to demo2.sagenb.org so that link will have to be removed

I apologize for not doing a PR but apparently I can't do it from within GH itself now because my fork (which is only on GH) is not up-to-date, sigh...

[2017-07-19 17:25] haraldschilly opened #112 "integrating MathSciNet publications"
Once https://github.com/sagemath/publications/issues/75 is resolved, integrate the new mathscinet publications html rendering in a new page. Also, figure out if this should be replaced with the default, or if we should have a dedicated publications page index listing all our pages with explanations (i.e. mathscinet (automatic), curated (not really up to date, but contains thesis and books not in m

[2017-07-24 12:40] haraldschilly opened #113 "link to binaries"
for supporting automated testing of 3rd party software, there should be a machine readable file (probably json) containing info about the current version and links to the source and binary files

[2017-09-28 20:29] kcrisman opened #118 "update links on pt site"
See https://groups.google.com/forum/#!topic/sage-support/s4SPXerKgO0 - maybe we can replace with links to archive.org at least?

[2017-10-07 20:02] koffie commented on #30
I guess this can be closed after nothing coming up for two years.

[2017-10-07 20:03] haraldschilly commented on #30
ok

[2017-10-07 20:03] #30 closed

[2017-11-12 13:29] haraldschilly opened #122 "openBlas missing"
I got an email

what's meant is probably this page:  src/links-components.html

[2017-11-30 13:45] haraldschilly opened #123 "sagemath-edu.fr website no longer exists."
sagemath-edu.fr website no longer exists

http://www.sagemath.org/fr/documentation.html needs to be updated

[2018-01-02 05:32] williamstein commented on #110
It's not just stripped down.  The PPA is **ancient**.  The AIMS people have long ago (sage 7.5) given up on updating it...  It's useless.

[2018-01-02 05:53] slel commented on #110
If I understand correctly, the AIMS team stopped producing the PPA because
it is no longer needed now that SageMath is packaged for Debian.

The [SageMath Linux download page](http://www.sagemath.org/download-linux.html)
should be updated to reflect that, with appropriate instructions on how to install from the
Debian package (something like `apt-get install sagemath` probably?).

[2018-01-02 06:58] williamstein commented on #110
Is it in Debian but NOT Ubuntu?  If in Ubuntu, which version?
--
-- William Stein

[2018-01-02 13:20] haraldschilly commented on #110
well, I have no idea about this, but at least I've removed the ppa link and instead point to debian sid. they have 8.1 here: https://packages.debian.org/sid/sagemath

[2018-01-02 13:31] nthiery commented on #110
On Tue, Jan 02, 2018 at 06:58:47AM +0000, William Stein wrote:

I did not investigate further, but noticed it was in Ubuntu 17.04, but
not any more in 17.10. I have no idea why. This is really annoying.

		Nicolas

[2018-01-02 15:56] kcrisman commented on #110
it is no longer needed now that SageMath is packaged for Debian.

@pipedream can probably confirm but that sounds right.

[2018-01-02 15:59] pipedream commented on #110
Correct

On 2 January 2018 at 17:56, kcrisman <notifications@github.com> wrote:

--
  .~.
  /V\     Jan Groenewald
 /( )\    www.aims.ac.za
 ^^-^^

[2018-03-02 23:11] danipozo opened #127 "Browser sends over 50 MathJax requests."
My browser (Firefox 58 on Linux) keeps sending over 50 requests for `MathJax.js?config=TeX-AMS_HTML-full,../mathjax_sage.js` on documentation pages.

[2018-03-03 12:22] haraldschilly commented on #127
Documentation pages are not part of the website, but sage itself. https://trac.sagemath.org/

Despite that, I can't reproduce it. Always include the exact full URL to a website you're reporting. Otherwise it's too vague.

[2018-03-07 12:04] danipozo commented on #127
Example URL where it happens: https://doc.sagemath.org/html/en/tutorial/tour_linalg.html

[2018-03-07 14:02] haraldschilly commented on #127
This is normal mathjax behavior. You can change the math renderer, then it behaves differently (right click on a formula, you should see a menu)

I'm leaning towards closing this issue, because we won't really change mathjax ... :confused:

[2018-05-20 20:43] haraldschilly opened #131 "windows download page OVA image vs EXE"
fix windows download page  -- http://www.sagemath.org/download-windows.html -- in such a way that it doesn't mention virtual box images any more. it could at the bottom of the mirrors, as an alternative to using the .exe, though.

[2018-05-21 12:43] embray commented on #131
Are we stopping providing the VirtualBox images entirely?  I thought they might still be useful to some people, though their use isn't necessarily specific to Windows users either.  For most Windows users the installer should suffice though it depends on their use case.  For some users it may be missing features (e.g. it doesn't come with latex yet).

[2018-05-21 12:47] haraldschilly commented on #131
I'm for keeping these OVA images. I haven't checked, but maybe we should add another download category on the website. On the mirrors, they're currently called "OVA Image" (which doesn't sound great)

[2018-05-28 11:06] haraldschilly opened #132 "components: "MPFR" → "GNU MPFR""

[2018-06-01 14:13] wbhart opened #133 "Rotate list of Sage dependencies on main web page"
Here is what I wrote on the sage-devel list describing this issue:

"I've been aware for a while that some libraries are not happy that their package is not explicitly mentioned by name on the sagemath.org home page and that you have to click through to the "and many more" to see their package credited.

I have a suggestion how this could be made more equitable for the many dependencies of Sage. T

[2018-06-01 16:53] nthiery commented on #133
I like the idea! This indeed is an important social issue.

[2018-06-07 17:36] vinklein commented on #133
PR #134 propose an horizontal scrolling list solution, you can see an example [here](http://www.labri.fr/perso/vklein/SageMath%20-%20Prototype%20Scrolling%20Package.html).

[2018-06-10 11:19] #132 closed

[2018-06-10 11:22] #5 closed, assigned to haraldschilly

[2018-06-10 11:23] haraldschilly opened #135 "revisit list of packages"
the content of the components page is generated via that file: https://github.com/sagemath/website/blob/master/conf/packages.yaml

goal of this ticket is to review it and fix missing/inaccurate information

[2018-06-21 11:56] egourgoulhon opened #136 "Wrong link in the main home page"
Hi,

The anchor "Mathematical Computation with Sage" at the entry page [http://www.sagemath.org/](http://www.sagemath.org/)  should be updated: the correct link is [http://sagebook.gforge.inria.fr/english.html](http://sagebook.gforge.inria.fr/english.html).

Best wishes,

Eric.

[2018-06-21 12:15] #136 closed

[2018-06-21 12:16] haraldschilly commented on #136
thank you

[2018-06-21 12:18] haraldschilly commented on #136
I see, the "german translation" link is also broken, as well as it is on http://sagebook.gforge.inria.fr/english.html

do you happen to know where it is now?

[2018-06-21 12:44] egourgoulhon commented on #136
Sorry I don't know about the correct link about the German version...

[2018-06-21 12:51] haraldschilly commented on #136
ok, I'll contact someone on that page

[2018-06-22 10:01] vinklein commented on #133
I have created a poll to help the decision between an horizontal scolling list or a "static" selection updated randomly https://framadate.org/kxRhiWt1dx95MCr5

[2018-07-25 20:55] williamstein opened #138 "contacts.html is broken"
1. Remove the captcha BS for me, at least, at http://www.sagemath.org/contact.html  I'm fine with my email address wstein@gmail.com is on the internet.
2. For others, either remove them or update the captcha?

[2018-07-26 12:09] slel commented on #16
Fixed by #139 where the "onlinedirect" mirror is set to `active: false`.

[2018-07-26 12:15] slel commented on #14
Fixed by commit https://github.com/sagemath/website/commit/0f9a7cc481f33a1db2543574736a67a2ea21b6f6
Please close.

[2018-07-30 13:39] slel commented on #135
Mercurial could be removed from the list.

[2018-07-30 15:27] haraldschilly opened #142 "add new KoDDoS Mirror"

[2018-07-30 15:29] haraldschilly commented on #135
ok, I removed it

[2018-08-03 19:34] #109 closed

[2018-08-04 09:16] haraldschilly opened #144 "add Raghukul Raman to devmap"
Name: Raghukul Raman
Location: Rajasthan, India
University: Indian Institute of Technology, Kanpur
Work done: rational point algorithms for schemes
homepage: https://raghukul01.github.io

[2018-08-04 09:18] haraldschilly opened #145 "carify GSoC involvement"
found by @raghukul01

[2018-08-04 09:22] #142 closed, assigned to nobody

[2018-08-04 09:24] haraldschilly opened #146 "landing page typo"
"et. al." → "et al." in src/index

[2018-08-04 09:25] #146 closed

[2018-08-05 14:28] #144 closed

[2018-08-05 14:29] #145 closed

[2018-09-09 12:34] egourgoulhon opened #151 "Quickstart page is obsolete"
The [Quickstart page](http://www.sagemath.org/tour-quickstart.html) (accessible from the Tour menu of Sage main page) is obsolete and misleading for newcomers, see https://ask.sagemath.org/question/43616/printing-_sage_var_x-instead-of-x/.

[2018-09-09 12:51] egourgoulhon commented on #151
Beside the pretty print mentioned in the ask.sagemath question, the `RealIntervalField` example is broken as well, since we have in Sage 8.3:

[code]

[2018-09-20 14:59] mkoeppe commented on #133
Any progress?

[2018-09-21 07:13] vinklein commented on #133
I don't really know what to do. Is ten vote on the poll enough ?
I have a branch ready to push for the "A random sample of package generated on reload" if needed (https://github.com/vinklein/website/tree/issue133_randompkgsample).

[2018-10-10 16:36] sadhen opened #152 "Please add a link for SageMath plugin for GNU TeXmacs"
see https://github.com/texmacs/SageMath.tm

The builtin Sage support is outdated. I just fixed it https://github.com/texmacs/GNUTeXmacs/commit/cce5d30681f6c54c242dd7cd7ca249e08a936987 with the help of @eladts

But it won't work until the next release of GNU TeXmacs. However, this repo should solve it.

[2018-10-10 16:42] sadhen commented on #152
And the page for GNU TeXmacs on SageMath wiki is outdated.

see https://wiki.sagemath.org/TeXmacs

Please update it. Thanks.

[2018-10-12 13:38] sadhen commented on #152
Just ported the tour of sage to the plugin's document:

<img width="591" alt="2018-10-12 9 33 44" src="https://user-images.githubusercontent.com/1267865/46872565-0e335a80-ce67-11e8-828d-cf8fba1e55e4.png">

[2018-10-12 13:50] sadhen commented on #152
<img width="583" alt="2018-10-12 9 48 47" src="https://user-images.githubusercontent.com/1267865/46873278-beee2980-ce68-11e8-909f-3113977a6802.png">

[2018-10-16 09:02] vinklein commented on #133
I agree

[2018-10-16 16:34] slel commented on #152
Thanks @sadhen and @eladts for your work on the SageMath plugin for GNU TeXmacs.

Would you like to edit the TeXmacs page on the Sage wiki yourself?

For that, you need an account for Sage's Trac and Wiki.
the procedure for obtaining one is to email

    sage-trac-account AT googlegroups DOT com

with the following information

- your full name
- your desired username; the default is the first let

[2018-10-18 00:51] sadhen commented on #152
@slel

It seems that there are no remaining issues. If there are bugs, report it on the github repo and I will fix it.

TeXmacs’s plugin system is designed to be friendly (kind of) for developers. For Python, a git clone is sufficiet for override the  system default one. As a result, **fix it on github** means **fix it for end users**.

As for wiki, we will use github pages or something else, to s

[2018-10-18 00:58] sadhen commented on #152
The posts by Darcy Shen(me) this month may be helpful for guys who are interested in GNU TeXmacs.

[2018-10-18 12:13] sadhen commented on #152
Forgot to post the link: http://lists.gnu.org/archive/html/texmacs-dev/2018-10/threads.html

[2018-11-01 10:05] haraldschilly opened #153 "remove switch.ch mirror"

[2018-11-01 16:41] #153 closed

[2018-11-02 19:07] slel commented on #78
If you got to this page and can't read that language,
having this particular link in English makes sense.

[2018-11-02 19:09] slel commented on #79
Fixed by #83.

[2018-11-02 23:16] slel commented on #122
Fixed by #141, commit 1ac3e37.

[2018-11-02 23:33] slel commented on #33
Fixed by commit e025878.

[2018-11-03 09:27] #14 closed, assigned to nobody

[2018-11-03 09:27] #16 closed, assigned to nobody

[2018-11-05 11:34] slel commented on #135
Thanks for merging #156 which took care of
- changes in urls, be it just http -> https or more significant moves
- removed or renamed SPKGs, and those replaced by a fork or successor

There is more work to include a number of new SPKGs, I'll do that next.

One question: why is the list split into `spkg` and `spkg_embedded`?

Also, would it make sense, for each spkg, to have an extra "type" field
s

[2018-11-15 21:23] #86 closed

[2019-01-15 16:28] embray opened #158 "Remove (or update) "Contributing to Sage" video"
http://www.sagemath.org/development.html has a link to a very nice video hosted on Vimeo (the embedding is broken which could also be fixed, but read on...) of William giving a guide for newbies (both to Sage, and OSS development in general) on how to make a contribution to Sage.

Unfortunately this video is very outdated (8 years old, and I've personally never known @williamstein without a beard)

[2019-01-18 09:17] haraldschilly commented on #158
I agree, and a new video would be great ...

[2019-01-18 09:17] #158 closed

[2019-01-18 09:18] haraldschilly opened #160 "sage introduction video"
follow up of #158

create and display a sage introduction video on the website

[2019-02-13 17:08] haraldschilly opened #163 "Remove all Google+ web integrations"
since g+ is shutting down, there is at least a +1 button and links to a g+ product page to get rid of

[2019-06-25 13:49] haraldschilly opened #168 "remove donation links pointing to UW"

[2019-06-25 14:34] kcrisman commented on #168
Is there no longer a "Sage Foundation" account there?  I've still gotten mail regarding that from UW in the recent past, but that could be incorrect.

[2019-06-25 14:42] williamstein commented on #168
It ended when I resigned from UW.

On Tue, Jun 25, 2019, 7:34 AM kcrisman <notifications@github.com> wrote:

[2019-06-25 14:48] kcrisman commented on #168
Thanks for the update - hope they stop sending me mail now!

(OT to this thread is thus to restart threads on a proper Sage Foundation
via some other FLOSS foundation ...)

[2019-06-25 15:03] williamstein commented on #168
On Tue, Jun 25, 2019, 7:49 AM kcrisman <notifications@github.com> wrote:

Sorry - this probably won't help.  They should (legally they must) have a
way to stop those emails.

+1

You are receiving this because you commented.

[2019-06-25 15:53] haraldschilly commented on #168
+1 for coming up with our own foundation, or be part of another one.

[2019-06-25 16:58] jhpalmieri commented on #168
I was just coming here to create this issue. Thanks for doing it already.

[2019-06-25 18:14] haraldschilly commented on #168
links are removed, closing.

[2019-06-25 18:14] #168 closed

[2019-06-25 18:33] jasongrout commented on #168
NumFOCUS is a possibility.

[2019-06-26 09:28] nthiery commented on #168
+1.

From the contact I had, we presumably would be welcome there.

By the way: NumFOCUS Europe is in creation; the process is a bit slow
because NumFOCUS takes the occasion to cleanly lay out the legal
foundations for regional branches bound together by an international
entity. It would make sense to be part of it too, for donations from
Europe. Incidentally I probably will be part of the board.

[2019-07-12 13:45] embray opened #171 "Add sha256 checksums for files on mirrors"
I have people asking me for checksums of released files (for the Windows exe in particular).

The current mirrors support MD5 sums which is fine for download verification, but not for anything more secure.  We should also provide sha256 sums for the paranoid out there.

I don't know how much trouble it is to update the mirror software.  Do the mirrors themselves need to update any code?  Or do we

[2019-07-12 14:14] haraldschilly commented on #171
all html files are created by an ancient script and then mirrored just like
all the other files. In theory, it shouldn't be hard to add sha256. I'll
check…

[2019-07-12 14:53] embray commented on #171
Yes, from the script I looked it, it would be straightforward to add sha256.  I just wasn't sure if the HTML pages are mirrored as well, or if mirrors had to do anything special to upgrade.

[2019-08-16 09:38] slel opened #172 "Address accessibility issues"
There is a web accessibility evaluation tool called WAVE:
http://wave.webaim.org/report#/sagemath.org

Currently the summary for our website is

[2019-09-02 19:22] haraldschilly opened #173 "ftp mirrors do not work in chrome. what should we do?"
This is an answer to https://trac.sagemath.org/ticket/28441

Is your browser a newer Chrome? It stopped supporting the ftp protocol. Try it in Firefox...

The questions are

*  should remove a working mirror because a leading browser doesn't support the protocol?
* tweak the download page, e.g. to not show a link but just some text?
* try to contact someone over there to serve all those pages via

[2019-09-03 13:19] szhorvat commented on #173
Yes.

It looks like it.

It works with Firefox.

[2019-09-18 10:35] haraldschilly opened #174 "windows download: fix wordings"
windows-download says

but there are actually the installers.

should we also add a page for the (previous) OVA images? or are they deprecated and it's better to use the windows installer?

[2019-09-19 04:29] slel commented on #174
Yes, the wording should be modified.

Regarding the ova images, I don't think they are, or should be,
deprecated. They can be useful for a number of platforms
not supported by SageMath in any other way.

@vbraun, is there a way you could resume producing these
ova images? Users occasionally ask for an updated version
on the support channels.

[2019-11-05 22:15] chippo1 opened #181 "Contributing to this project (Git Issues)"
I was going through the Sage tutorials and noticed that some of the cut'n'paste examples don't work because of interfaces changes etc. I was going through
http://doc.sagemath.org/html/en/prep/Advanced-2DPlotting.html
when I decided to fix them.

I somehow ended up doing a 'git clone https://github.com/sagemath/website.git'. I got some stuff, but found that that plotting tutorial (mentioned above)

[2019-11-05 22:42] saraedum commented on #181
Press the fork button on the repository (top right corner), then do `git remote add chippo1 https://…` (insert the clone URL of your fork repository). Then `git push chippo1 HEAD:master` should work. In any case, there are lots of tutorials on how to contribute to a github project that probably explain this better than I can.

[2019-11-05 22:42] saraedum commented on #181
(sorry, didn't mean to close.)

[2019-11-05 22:45] saraedum commented on #181
http://doc.sagemath.org/html/en/prep/Advanced-2DPlotting.html
and friends, so that I can fix them?

This can be found here https://gitlab.com/sagemath/sage/blob/develop/src/doc/en/prep/Advanced-2DPlotting.rst

[2019-11-05 22:46] saraedum commented on #181
This interface is automatically tested with every release of SageMath, so the commands should actually work btw.

[2019-11-05 22:47] saraedum commented on #181
I believe that we can close this issue now. The issues are not really related to sagemath website (even though they show up on sagemath.org.)

[2019-11-05 22:47] #181 closed

[2019-11-06 15:52] kcrisman commented on #181
@chippo1, for what it's worth, those tutorials were created as part of a workshop, and so it would be helpful to make an edit that keeps the integrity of that, while noting what has been changed for interface reasons.  If you make a ticket on the Trac site, please cc: 'kcrisman' and I will get updates to help.

[2019-11-06 19:55] chippo1 commented on #181
@kcrisman, of course. And, maybe the tutorials are fine. @saraedum already alerted me to the fact that the examples in the tutorials are automatically tested with each new release.

I noticed that the tutorials (on the website) claimed to be part of the sage-8.9 documentation, while mine was (whatever comes with ubuntu) sage-8.6 (where some of them didn't work without changes). I'm currently compi

[2019-11-06 22:50] kcrisman commented on #181
@chippo1 No worries, just open the ticket and cc: there - we try to keep as much development conversation public as possible :smiley:

[2020-01-21 10:56] embray opened #186 "OSX mirror page slightly confusing"
Had a user who was confused when clicking through the Mac download links, and I agree it was confusing:

E.g. from http://www.sagemath.org/download-mac.html when one selects a mirror they are first asked to choose between intel and ppc: http://www.mirrorservice.org/sites/www.sagemath.org/osx/intel/index.html

They had no problem with this part, though it should probably be skipped because PPC is n

[2020-04-10 20:23] abmclin commented on #151
I'd like to comment here that the Quickstart page still hasn't been updated and I was running the examples as a first-time user who just installed Sage 9.0 and noticed the same issues that initially had me concerned about whether my installation was working correctly.

[2020-05-11 15:35] Quocanh90-r opened #192 "Gambit library (Sagemath v9) : it doesn’t have enough library"
+ I use Win 10 64bit, Python 3.8.2
+ I want to use Python scripting API with Gambit 15.1
+ I failed to install as the instruction http://gambit.sourceforge.net/gambit15/build.html#build-python
+ I found out the facebook of Gambit (Gambit: Software Tools for Game Theory), it stated: “There is a set of Python bindings to the Gambit library and analysis algorithms. These bindings facilitate interfaci

[2020-05-24 16:39] fchapoton commented on #192
This is not the place to ask such questions. Go to ask.sagemath.org

[2020-05-24 16:39] #192 closed

[2020-05-25 06:02] mkoeppe opened #194 "Critical: files.sagemath.org misconfiguration breaks downloading the sage mirror_list"
See https://groups.google.com/d/msg/sage-release/d8dVrQai_x8/U9haVP6jAQAJ

[2020-05-25 11:10] haraldschilly commented on #194
is there a minimal example how to reproduce this?

[2020-05-25 11:16] haraldschilly commented on #194
ok, well, I used `sage -ipython` and the snippet below to debug and fix this

[code]

the problem is it's not https, which is universally enforced. it's disabled for this url now and hence there are no such security issues again. My suggestion is to update this url to `https://...`

[2020-05-25 18:43] mkoeppe commented on #194
Thanks, that fixed it. I have created https://trac.sagemath.org/ticket/29735 (Improve sage mirror list download)

[2020-05-25 18:43] #194 closed

[2020-05-26 09:32] fchapoton commented on #163
This seems to have been done long ago.

[2020-05-26 09:32] #163 closed

[2020-05-27 04:05] mkoeppe opened #195 "Sage Logo broken, used in wiki.sagemath.org and https://groups.google.com/forum/#!forum/sage-support"

[2020-05-27 07:24] haraldschilly commented on #195
that happened in 9dfbbd24825577a37ba8dc5ce2d8e337383ed2cb → @fchapoton

I'll move this one back, because it takes too much time to fix it in all locations (I don't even know where else it is used). In the future, we better don't move/rename prominent files that might be used elsewhere.

[2020-05-27 07:27] #195 closed

[2020-05-29 18:32] mkoeppe commented on #195
How about adding a README to these directories on the server to document where certain files are used? @fchapoton

[2020-05-29 19:11] fchapoton commented on #195
There is a new logo available for the wiki under the link

pix/logo_sagemath_wiki.png

[2020-06-06 20:49] mkoeppe commented on #195
Have you tried contacting an admin of the wiki?

[2020-06-09 20:44] jorgemrisco opened #197 "Teaching_with_SAGE: links not working and page formatation"
On SageMath - Library (https://www.sagemath.org/library.html), there's a link to the page Teaching with SAGE (https://wiki.sagemath.org/Teaching_with_SAGE).
The teaching with SAGE page has the following problems, in order of priority:

1) Most of the links don't work!
2) missing sage logo

[2020-06-09 20:50] kcrisman commented on #197
Thanks for your noticing this!

materials are outdated.  It is possible we should just move that activity
to the main website rather than the Wiki in any case.

logo - there were some files moved around. @fchapoton @mkoeppe just for
reference.

[2020-06-17 16:53] kcrisman opened #198 "Update download main page"
Just as the wiki page for supported platforms was really quite out of date, now it also is the case that the mirror download pages are quite out of date - with mentions of Solaris, ova, livecd, and various other things that, while not worth ditching, should be strongly de-emphasized since they are no longer providing current versions of Sage.

See also #186, #131, #174, and even #193 to some exten

[2020-06-17 16:53] kcrisman commented on #131
Update - there hasn't been an ova from anyone for some time.  That is too bad because they are useful for trying to test something via virtualization.

[2020-06-17 16:53] kcrisman commented on #174
Agreed that the ova should not be completely deprecated, but also that we are not producing them currently.

[2020-06-17 16:53] kcrisman commented on #186
Agreed that we need a lot of TLC for the download pages.

[2020-06-17 18:51] haraldschilly commented on #198
well, this sounds like we should tune the main index page a little bit. e.g. the main choices at the top and everything else down below as an extra? the content right now is this:

[code]

[2020-06-23 09:44] fchapoton commented on #151
This is now fixed.

[2020-06-23 09:44] #151 closed

[2020-06-26 12:14] embray commented on #131
Is there anything a VM is useful for testing that can't be done with Docker?  Graphical stuff I suppose, although most GUI stuff is done in notebooks these days.  It is also possible to connect a Docker container to a local X server (and I believe vice-versa).

[2020-06-26 14:25] williamstein commented on #131
One advantage of a VM over Docker for testing is different CPU
architectures and operating systems (eg windows)...  I don't know to what
extent that matters for Sage right now.

On Fri, Jun 26, 2020, 5:14 AM E. M. Bray <notifications@github.com> wrote:

[2020-08-01 01:49] mkoeppe opened #200 "Remove broken mirror ftp.kaist.ac.kr"
It breaks our automated builds, please remove

https://trac.sagemath.org/ticket/30262#comment:3

[2020-08-01 02:02] slel commented on #200
Fix at #201.

[2020-08-01 02:12] slel commented on #200
The fix consists in marking the mirror as inactive for us.

I emailed the mirror maintainers (cc-ing Harald) to ask
an estimate for when the mirror might be back up.

If/when we hear it's back up we can mark it back as active.

[2020-08-01 17:55] haraldschilly commented on #200
well, the scripts updating the mirrors wasn't running, that's why it was included erroneously

[2020-08-01 17:56] #200 closed

[2020-08-02 06:09] slel commented on #200
Should we revert #201 then?

[2020-08-02 16:26] haraldschilly commented on #200
well, it would be interesting to know if the problem was that this mirror was down or that random files were missing

[2020-08-02 16:53] slel commented on #200
By reverting #201 and seeing if it breaks automated builds again?

Sorry for not getting that, but can you clarify what you mean by
- the scripts updating the mirrors wasn't running, that's why it was included erroneously
- random files were missing

[2020-08-02 17:00] haraldschilly commented on #200
there is a period script being run, which indexes all known (and active) mirrors. it basically checks if they're up and the timestamp file is the expected one. this timestamp file also contains a hashsum for all contained files, so, it's more than just a timestamp. I'm not maintaining that timestamp file, though.

this script wasn't running in the past few days, but it should be up and running fin

[2020-08-02 18:28] mkoeppe commented on #200
The problem is described in the ticket that I linked when I opened this issue.

[2020-08-02 22:07] slel commented on #200
The KAIST server now correctly returns 404 for the e-antic tarball.
[code]
Compare with the LIP6 server in Paris:
[code]

So one would be tempted to go back to listing the mirror as active.

One objection to doing that, if I understand correctly, could be
that when that mirror is down, it sends the wrong HTTP status.

Should I try to clear that up with the mirror admins before setting
the KAIST mi

[2020-10-28 20:51] mkoeppe opened #209 "Documentation needs updating for Sage 9.2"

[2020-12-22 10:29] haraldschilly opened #211 "geocode broken"
@fchapoton looks like your change in 620ef117b8eed2f66bb98a1dfccece215f8906d0 – or one nearby it – broke updating the website. Can you fix this?

[code]

[2020-12-22 10:33] haraldschilly commented on #211
Oh I see, you made it compatible with newer python versions, and hence it no longer work with python 3.6. That's something that would be great to know in advance :-)

[2020-12-22 10:33] #211 closed

[2021-02-18 16:45] mkoeppe opened #213 "Versioned Sage documentation"
(from https://groups.google.com/g/sage-devel/c/oWkFwhinoMc/m/EOL1TZphBgAJ)

keep online documentation of each release, that is having:

- https://doc.sagemath.org/VERSION/ for each release
- https://doc.sagemath.org/current/ (or "latest") pointing to the doc of the last
release
- https://doc.sagemath.org/develop/ for the current beta

Currently some links on the web (e.g. on ask.sagemath.org) are

[2021-03-13 08:18] Jeevan-Kiran-Lenka commented on #51
Hey! I would like to work on it

[2021-03-13 09:10] haraldschilly commented on #51
The page is here https://wiki.sagemath.org/jobs but I don't think anyone maintains it

[2021-03-13 09:10] #51 closed

[2021-07-18 17:44] #104 closed

[2021-08-24 14:07] haraldschilly opened #220 "sagecell eval examples no longer load"
this page did work in the past. something must have changed with the sagecell embedding script.

https://www.sagemath.org/eval.html and in particular

https://github.com/sagemath/website/blob/master/src/eval/eval.js

error:

[code]

[2021-08-24 15:39] slel commented on #220
@novoselt

[2021-08-24 15:44] haraldschilly commented on #220
it's definitely very old code. I don't even know if the bug is in the website's script or the embedding code from sagecell. Maybe it's just a tiny fix. 🤷🏻

[2021-08-24 17:44] novoselt commented on #220
As I recall, you had to pick items in the menu and THEN some SageCell will be populated and processed. At the moment it seems that the menu is not populated. My random guess also is that most of the code will not work because of print issue. This page existed before interact website was up and the latter was shut down quite a while ago too. It is awesome to have a big and organized collection of i

[2021-08-24 18:18] kcrisman commented on #220
Though on a related note, see http://sage-cell-repository.wikidot.com

[2021-09-06 12:03] simonbagley opened #221 "The Notebook Interface to SageMath Mathematics Software video link broken"
The video link for 'The Notebook Interface to SageMath Mathematics Software' doesn't work in a Chrome browser.

[2021-09-06 12:05] simonbagley opened #222 "Video link broken for: Modeling in SageMath: Love, War, and Zombies"
The video link for 'Modeling in SageMath: Love, War, and Zombies', does not work in a Chrome browser.

[2021-09-06 12:09] haraldschilly commented on #222
would this video be https://www.youtube.com/watch?v=z3MAPweScz8 ?

[2021-09-06 14:31] kcrisman commented on #222
On Mon, Sep 6, 2021 at 8:09 AM Harald Schilly ***@***.***>
wrote:

Most likely, yes; David was the one who often used that topic.

[2021-09-06 14:31] kcrisman commented on #221
Can you give us the exact link?  That may be outdated (referring to the old
sagenb).

On Mon, Sep 6, 2021 at 8:03 AM simonbagley ***@***.***> wrote:

[2021-09-06 15:16] williamstein commented on #221
I found it via Google here: https://www.sagemath.org/help-video.html

It's a talk you gave @kcrisman.  The other one below it is also broken.

The solution is probably just to delete all that from the website, since the links are broken and the talks are irrelevant these days anyways.

[2021-09-06 16:57] kcrisman commented on #221
On Mon, Sep 6, 2021 at 11:17 AM William Stein ***@***.***>
wrote:

Haha, I forgot about that.  Probably some of the talks are relevant -
really I should just make a new version of it.  But you are right that a
lot of the talks are probably not as relevant right now.

[2021-09-07 07:03] simonbagley commented on #222
@haraldschilly yes that does indeed look like the video in question.

[2021-09-07 07:05] simonbagley commented on #222
Whoops! I closed this in error. I think it should only be closed when the link on the website works.

[2021-09-07 07:10] simonbagley commented on #221
Is the notebook interface not relevant anymore?

[2021-09-07 07:46] haraldschilly commented on #221
I wonder if those videos should be embedded in actual doc.sagemath.org (about the old notebook interface, or a general introduction). From the website, we just link to it, that's all.

[2021-11-26 07:05] subho951m commented on #222
@simonbagley Sir, I would like to give a try to fix the issue. Is the video link @haraldschilly posted the one which needs to be attached or is there any other video link?
Please guide me.

[2021-11-26 07:20] subho951m commented on #222
@simonbagley Sir, I am facing difficulty in creating environment. I have cloned the repository but could not find `make` command. I am using windows 10 operating system.
Is there any other alternative to how I can set up environment in Windows 10?
Please help.

[2021-11-27 11:22] simonbagley commented on #222
@subho951m yes the video @haraldschilly posted the link to is the correct one.
If you’re using Windows 10 I would suggest you use Windows Subsystem Linux (WSL) to install a suitable Linux environment (e.g. Ubuntu). The make command should work from this environment.

[2021-11-29 06:18] subho951m commented on #222
@haraldschilly @simonbagley I used git to clone the website repository from Windows 10. Then I learned that the website should be run on Linux. So I used WSL feature of windows & downloaded Ubuntu 20.04.
I run `sudo apt-get install -y pybtex python-jinja2 python-markdown python-yaml`.
I installed python 2, pyinotify, xdtool, pep8, autopep8.
After doing all the above the following error was shown.

[2021-11-29 08:35] simonbagley commented on #222
@subho951m I don’t know, as I have never done a build, but maybe you should try a different shell? Possibly there’s some incompatibility with bash.

[2021-11-29 09:05] haraldschilly commented on #222
Hi, what's going on with this issue? Is the video fixed or not? Is it relevant?

I also don't know anything about sage on windows.

[2021-11-29 11:37] kcrisman commented on #222
I believe that @subho951m is trying to actually create the website by using make - notice that the cloned repo in the screenshot is the website one.  But I don't think that is possible to do.  @subho951m it would be easier to do this on the GitHub website and fix the link in a branch there, if you have any experience attempting that.  It would be a pretty trivial fix.

[2021-12-01 10:44] subho951m commented on #222
@haraldschilly Sir I am using Ubuntu 20.04 on virtual machine. I tried a lot but could not fix the following problem. Please help.
![Screenshot (1)](https://user-images.githubusercontent.com/88569334/144220477-77007fc0-52ec-4f9a-8c53-bb4f9201f499.png)

[2021-12-01 10:45] subho951m commented on #222
@haraldschilly It's showing problem in render.py .

[2022-02-24 17:56] dimpase commented on #222
fixed by #227

[2022-02-24 17:56] #222 closed

[2022-04-13 01:29] mkoeppe opened #236 "the 404 page is broken"
for example https://www.sagemath.org/library/talks/pyrex

[2022-05-17 09:19] haraldschilly opened #261 "menu/download: opens new page"
when I click on the menu's "Download" entry, at the top, it opens a new page. That's very confusing.

[2022-06-21 18:36] haraldschilly opened #265 "notebook intro at help-video.html does not exist"
There is a link on https://www.sagemath.org/help-video.html  to https://www.mosaic-web.org/MCAST/videos/MCAST-2011-03-18/lib/playback.html … going into the void

Since the interface is jupyter, we probably just remove this section.

[2022-09-19 05:05] mkoeppe opened #297 "Add Sage community calendar"
<iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=2&bgcolor=%237e82f7&ctz=America%2FLos_Angeles&title=SageMath%20community%20calendar&mode=AGENDA&showPrint=0&showDate=0&showCalendars=0&showTitle=0&showNav=0&src=YXI3bzc4ZXE3bW42NWd2dnZwajVtOGc5NGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23C0CA33" style="border-width:0" width="400" height="300" frameborder="0" scrolling="no">

[2022-10-05 16:46] cool-man-vk opened #442 "minor ui fix in help_groups.html"
Change
`<div style="padding:15px">`
     The following mailing-lists are for general help around SageMath.
    There are also <a href="development-groups.html">development mailing-lists</a>.
`</div>`

[2022-10-05 17:19] cool-man-vk opened #305 "proper flex display of images and description in a proper format"
![image](https://user-images.githubusercontent.com/76818423/194122102-315c31e5-8ec3-4a97-9239-eccdb5bb4f64.png)

May be altered and modified like single in each row instead of double in each row.

[2022-10-07 05:20] cool-man-vk opened #306 "proper spacing of formulas in tour-research.html"
Example
<br/>
![image](https://user-images.githubusercontent.com/76818423/194473318-ec32bebd-2344-47cb-b329-8dbafaced385.png)

[2022-10-08 18:16] cool-man-vk opened #307 "Text align property may be given text-align:justify for paragraphs"
![image](https://user-images.githubusercontent.com/76818423/194721794-6499d2ee-2288-4ba1-8422-adc7b4738320.png)

[2022-10-08 18:21] cool-man-vk opened #308 "proper alignment of words in the library_marketing.html"
![image](https://user-images.githubusercontent.com/76818423/194721959-1b96f9b6-b104-45ca-9895-1e7a26d4d65c.png)

[2022-10-08 18:25] cool-man-vk opened #309 "Navbar missing in calculus tutorial page"
![image](https://user-images.githubusercontent.com/76818423/194722110-d17613fc-9382-40a8-bdaf-a36bd5bbdea7.png)
If there are also navbar options , it'll be easy for the users to navigate any page they want . If not users will feel some bad opinion about this.

[2022-10-15 08:43] kwankyu opened #314 "Please change https://doc.sagemath.org/index.html"
Could we make this page

https://doc.sagemath.org/index.html

served from

$SAGE_ROOT/local/share/doc/sage/index.html

as any other page

https://doc.sagemath.org/*

is served from

$SAGE_ROOT/local/share/doc/sage/*

Before there was no  $SAGE_ROOT/local/share/doc/sage/index.html file. That seems the reason why only this page https://doc.sagemath.org/index.html  serves a custom page. Now that  $SA

[2022-10-15 16:36] kwankyu commented on #314
Can I see the script that builds the contents served by https://doc.sagemath.org?

[2022-10-16 10:10] kwankyu commented on #314
The page $SAGE_ROOT/local/share/doc/sage/index.html

looks like

<img width="1066" alt="Screen Shot 2022-10-16 at 7 08 03 PM" src="https://user-images.githubusercontent.com/1456101/196029623-c941b38c-8c62-4dc8-922c-7a79f2aa98b9.png">

[2022-10-17 01:08] mkoeppe commented on #135
outdated, should close

[2022-10-22 20:09] mkoeppe opened #413 "Automatic deployment to www.sagemath.org"
@haraldschilly
We have the automatic build in place in https://github.com/sagemath/website/blob/master/.github/workflows/build.yml
What's missing for automatic deployment from the `master` branch to www.sagemath.org?

[2022-10-25 07:44] haraldschilly commented on #413
From my point of view, that automatic build is not a sufficiently complete build of the website. If you want to know what I do:

## Checking/Testing

run `make`, and see if it breaks → fix the detail that's off. that's currently a check with these PRs.

## new release

1. run `make`: this step needs the secret api key for the google maps api to look up the coordinates for the pins on the dev map.